@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Roboto", serif;
    background-color: #111827;
}

.active{
    color: #00EEFF;
}

.myImage {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.aboutPic{
    clip-path: polygon(0 0, 75% 0, 100% 100%, 21% 100%);
}